<div class="collapse navbar-collapse" id="NavBar">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Search", "Index", "Products")</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/User/Registration"><span class="glyphicon glyphicon-user"> Register</span></a></li>
        <li><a href="~/User/Login"><span class="glyphicon glyphicon-log-in"> Login</span></a></li>
    </ul>
</div>