
@{
    ViewBag.Title = "SubmitOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congratulations!</h2>
<h4>Your order has been submitted. You can track your order's status by calling our support hotline at (555)555-5599.</h4>
<h4>We hoped you enjoyed your shopping experience.</h4>

